@font-face {
    /* font-display: swap; */
    font-family: 'Google Sans Code';
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url('/assets/sans.woff2') format('woff2')
}

body {
    margin: 0;
    padding: 0;
    background: #181a1b;
    color: #aaaaaa;
    font-family: 'Google Sans Code', 'Courier New', Courier, monospace;
}

code {
    font-family: 'Google Sans Code', monospace !important;
    font-size: 14px;
}

#header {
    letter-spacing: 3px;
    width: min-content;
    margin: 0 auto;
}

p:has(> .metadata) {
    margin: -10px 0;
    padding: 0;
    line-height: 0;
}

.metadata {
    font-size: 13px;
    line-height: 1;
    color: gray;
}

p {
    font-size: 14pt;
    line-height: 1.5;
}

h2 {
    margin-top: 100px;
}

h3 {
    margin-top: 40px;
    margin-bottom: 0px;
}

ul.links {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

ul.links li {
    margin-right: 20px;
}

.container {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

figure {
    margin: 0 20px;
}

figure p {
    margin: 0;
    padding: 0;
    line-height: 2;
    font-size: 14px;
}

img {
    width: 100% !important;
}

pre code.hljs {
    border-radius: 12px;
}

.block {
    margin-top: -3px;
    background: #181a1b;
    color: transparent;
    padding: 3px 3px 0 7px;
    animation: type 6s infinite;
}

.block:nth-of-type(2) {
    animation-delay: 1s;
}

.block:nth-of-type(3) {
    animation-delay: 2s;
}

.block:nth-of-type(4) {
    animation-delay: 3s;
}

@keyframes type {
    0% {
        background: #181a1b;
        opacity: 0;
    }

    5% {
        background: #181a1b;
        color: transparent;
        opacity: 0;
    }

    6% {
        background: #66666654;
        opacity: 1;
    }

    10% {
        background: #181a1b;
    }

    15% {
        background: #66666654;
    }

    20% {
        background: #181a1b;
    }

    40% {
        background: #66666654;
    }

    45% {
        background: #181a1b;
        color: #fff;
    }

    100% {
        color: #fff;
    }
}

a {
    color: #4076b5;
}

footer {
    margin: 150px auto 100px;
    text-align: center;
    max-width: 156px;
}

.mouse-move,
.mouse-click {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    pointer-events: none;
}

.mouse-move canvas,
.mouse-click canvas {
    height: 100%;
    width: 100%;
    opacity: 0.1;
}